#about > div > div.row > div > p  {
    font-size: large;
}

#contact > div > div > div > p {
    font-size: x-large;
}

#contact > div > div > div.col-lg-4.mr-auto > p > a {
    color: #FFF;
}

.masthead-avatar {
    border-radius: 50%;
}