.section-heading {
    margin-top: 0;
}

feature-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature-box {
        margin: 20px auto 0;
    }
}

.feature-box p {
    margin-bottom: 0;
}