footer .footer-below {
    background-color: #232323;
}

.bg-primary,
.btn-primary,
fieldset[disabled] .btn-primary.active,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.navbar-default,
.label-primary,
.badge,
.progress-bar,
footer .footer-above,
.portfolio-modal .close-modal .lr,
.portfolio-modal .close-modal .lr .rl,
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus,
.panel-default > .panel-heading .badge,
.panel-primary > .panel-heading {
    background-color: #282828;
}

.form-control:focus,
.btn-primary,
fieldset[disabled] .btn-primary.active,
hr.star-primary,
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus,
.panel-primary,
.panel-primary > .panel-heading {
    border-color: #282828;
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #282828;
}

.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #282828;
}

body,
legend,
output,
.form-control,
.text-primary,
.btn-primary .badge,
hr.star-primary:after,
.input-group-addon,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.navbar-inverse .navbar-link:hover,
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus,
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge,
.thumbnail .caption,
.panel-default > .panel-heading,
.panel-primary > .panel-heading .badge,
.navbar-default .badge,
.text-primary,
.text-primary:hover,
.panel-default .close,
.modal .close,
.popover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #282828;
}





.bg-success,
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th,
.has-success .input-group-addon,
.btn-success,
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active,
.pagination > li > a,
.pagination > li > span,
.pager li > a,
.pager li > span,
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span,
.label-success,
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active,
.alert-success,
.progress-bar-success,
.list-group-item-success,
.panel-success > .panel-heading,
a.list-group-item-success.active,
hr.star-light:after,
.btn:hover {
    background-color: #8B0000;
}

header,
section.success {
    background: #8B0000;
}

.btn-lg,
.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active,
.btn-success,
.btn-success.disabled,
.btn-success[disabled],
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled]:active,
.btn-success[disabled].active,
.btn-success.disabled:focus,
.btn-success.disabled.focus,
.btn-success[disabled]:focus,
.btn-success[disabled].focus,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:hover,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.alert-success,
.panel-success,
.panel-success > .panel-heading,
.has-success .input-group-addon {
    border-color: #8B0000;
}

.panel-success > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #8B0000;
}

.panel-success > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #8B0000;
}

.has-success .form-control,
.has-success .form-control:focus {
    border: 2px solid #8B0000;
}

a,
a:hover,
a:focus,
a,
a:hover,
a:focus,
a:active,
a.active,
.btn,
.btn-success .badge,
.btn-link,
.btn-link:hover,
.btn-link:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-link:hover,
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus,
.navbar-inverse,
.panel-success > .panel-heading .badge,
.navbar-inverse .badge,
.text-success,
.text-success:hover,
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label,
.has-success .form-control-feedback,
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.floating-label-form-group-with-focus label,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
section.success .btn:hover {
    color: #8B0000;
}

#portfolio .portfolio-item .portfolio-link .caption {
    background: rgba(139, 0, 0, .8);
}

a.text-primary:hover,
a.text-primary:focus,
a.bg-primary:hover,
a.bg-primary:focus,
a.btn-primary:focus {
  color: #860000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #860000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #860000;
  }
}

.navbar-default .navbar-toggle {
  border-color: #860000;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #860000;
  border-color: #810000;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
.btn-lg:hover {
    color: #FFF;
}

section.success .btn-outline,
section.success .btn-outline:hover,
section.success .btn-outline:focus,
section.success .btn-outline:active {
    border-color: #FFF;
}

section.success .btn-outline:hover {
    background-color: #FFF;
}

section.success .btn-outline:focus,
section.success .btn-outline:active {
    color: #8B0000;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #CDCDCD;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
}

